<%- include('header') -%>
<body>
    <%- include('nav') -%>
    <section class="container">
        <h1 class="heading">Home</h1>
        <p>#BestChristmasExperience <br>
            Hello Friends, I made this simple website where you can share your 
            previous best Christmas experiences. The Loy, Laughter’s, Suprises, 
            Happiness and even worst Experiences. Just go to the “compose” section, 
            on the "title" input, input your full name and on the "post" share your experience and click “publish”. 
             As we begin this interesting funfair, you can get to be thrilled and Entertained by all kinds of different 
             peoples experience. Thank You!
            
        </p>
    </section>
    <% if(blogData.length !== 0){ %>
        <div class="cover">
            <% for(let eachData of blogData){ %>
                    <section class="container">
                        <h1 class="heading name-head"><%= eachData.title  %></h1>
                        <p><%= eachData.post.slice(0,300) %></p>
                        <form action="/read" method="post" class="read-form">
                            <button type="submit" class="span" name="readBtn" value="<%= eachData._id %>">...Read More</button>
                        </form>
                    </section>
            <% } %>
        </div>
   <% } else { %>
    <form action="/empty" method="post">
        <button class="empty" type="submit">compose</button>
    </form>
  <% } %>
    
  <%- include('footer') -%>

  <script src="script/script.js"></script>
</body>
</html>